"*":
  Hydrogen:
    gateways: "[{ \"name\": \"Local notebook\", \"options\": { \"baseUrl\": \"http://localhost:8888\", \"token\": \"JupyterLocalAuthToken\" } }]"
    languageMappings: "{ \"python\": \"pweave markdown\", \"julia\": \"weave.jl markdown\", \"r\": \"r markdown\" }"
    outputAreaDock: true
    outputAreaFontSize: 13
    startDir: "dirOfFile"
    startupCode: "{\"Python 3\": \"%matplotlib inline\\nimport matplotlib.pyplot as plt\\nplt.style.use('dark_background')\", \"Python 3.6\": \"%matplotlib inline\\nimport matplotlib.pyplot as plt\\nplt.style.use('dark_background')\", \"Julia 1.1.1\": \"using Plots\\ndefault(:fmt, :svg)\\ntheme(:juno)\"}"
  "Hydrogen-Studio":
    inspectorPaneDefaultLocation: "right"
    plotPaneDefaultLocation: "right"
  Zen:
    fullscreen: false
  "atom-beautify":
    coffeescript:
      indent_size: 2
    css:
      align_assignments: true
      end_with_newline: true
      newline_between_rules: false
      preserve_newlines: true
    general:
      _analyticsUserId: "363e3982-c20c-4871-b3aa-b60bce401914"
    html:
      end_with_newline: true
      indent_size: 2
    js:
      brace_style: "collapse-preserve-inline"
      end_with_newline: true
      keep_array_indentation: true
      object_curly_spacing: true
      space_after_anon_function: true
    json:
      end_with_newline: true
      indent_size: 2
    jsx:
      brace_style: "collapse-preserve-inline"
      default_beautifier: "JS Beautify"
      end_with_newline: true
      indent_size: 2
      keep_array_indentation: true
      object_curly_spacing: true
      space_after_anon_function: true
    less:
      align_assignments: true
      indent_comments: false
      indent_size: 2
      newline_between_rules: false
    markdown:
      disabled: true
    sql:
      identifiers: "lower"
      indent_size: 2
      reindent: false
    tsx:
      indent_size: 2
    typescript:
      indent_size: 2
  "atom-clock":
    dateFormat: "YYYY/MM/DD/HH:mm"
  "atom-hot-package-loader":
    detectTargetOnStart: true
  "atom-html-preview":
    enableMathJax: true
  "atom-ide-ui":
    "atom-ide-debugger":
      showDebuggerOnBpSet: false
    "atom-ide-diagnostics-ui": {}
    "atom-ide-outline-view": {}
    "atom-ide-signature-help": {}
    "debugger-exceptionBreakpointsCollapsed": true
    hyperclick:
      darwinTriggerKeys: "ctrlKey"
    use:
      "atom-ide-terminal": "never"
  "atom-package-deps":
    ignored: [
      "linter-eslint"
      "linter-tslint"
      "minimap-linter"
    ]
  "atom-typescript":
    tsserverInstancePerTsconfig: true
  "atomic-management": {}
  "autocomplete-paths": {}
  "autocomplete-plus":
    minimumWordLength: 2
  "bracket-matcher": {}
  core:
    audioBeep: false
    autoHideMenuBar: true
    automaticallyUpdate: false
    customFileTypes:
      "source.gfm": [
        "_draft.md"
        "CHANGELOG.md"
        "CODE_OF_CONDUCT.md"
        "CONTRIBUTING.md"
        "LICENSE.md"
        "README.md"
      ]
      "source.gfm.rmd": [
        "Rmd"
        "rmd"
      ]
      "source.java": [
        "jsh"
      ]
      "source.tsx": [
        "tsx"
      ]
      "text.md": [
        "md"
      ]
    disabledPackages: [
      "julia-client"
      "tool-bar"
      "markdown-preview"
    ]
    excludeVcsIgnoredPaths: true
    ignoredNames: [
      "._*"
      ".hg"
      ".svn"
      "Thumbs.db"
      ".DS_Store"
      "desktop.ini"
      "node_modules"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "Hydrogen"
      "Zen"
      "atom-beautify"
      "atom-html-preview"
      "atom-typescript"
      "git-diff"
      "git-plus"
      "git-time-machine"
      "julia-client"
      "language-weave"
      "markdown-preview-enhanced"
      "markdown-writer"
      "script"
      "split-diff"
      "termination"
      "todo-show"
      "tool-bar"
      "spell-check"
      "tree-view"
    ]
    projectHome: "C:\\Users\\aviat\\github\\atom-pkgs"
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "ariake-dark-syntax"
    ]
    uriHandlerRegistration: "always"
    warnOnLargeFileLimit: 10
  "document-outline":
    showByDefault: false
  "dqs-shell-commands": {}
  editor:
    fontFamily: "Fira Code, Source Han Code JP"
    fontSize: 12
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
    softWrapHangingIndent: 2
    tabLength: 4
  "emacs-plus": {}
  "exception-reporting":
    userId: "9e026ba7-7268-13e9-0769-5cb4ad435f2f"
  "file-icons": {}
  "find-and-replace":
    closeFindPanelAfterSearch: true
  "git-diff": {}
  "git-plus":
    diffs:
      useSplitDiff: true
      wordDiff: true
    experimental:
      customCommands: true
      diffBranches: true
    general:
      enableStatusBarIcon: false
      showBranchInTreeView: false
  "highlight-line":
    hideHighlightOnSelect: true
  "highlight-selected":
    onlyHighlightWholeWords: false
  "ide-css": {}
  "ide-python":
    pylsPlugins:
      autopep8:
        enabled: false
      jedi_definition:
        follow_imports: true
      pycodestyle:
        ignore: [
          "E121"
          "E123"
          "E126"
          "E226"
          "E24"
          "E704"
          "W503"
          "E127"
        ]
      yapf:
        enabled: true
    python: "C:\\Users\\aviat\\Anaconda3\\python.exe"
  "js-hyperclick":
    extensions: [
      ".js"
      ".json"
      ".node"
      ".coffee"
    ]
  "julia-client":
    consoleOptions:
      whitelistedKeybindingsREPL: [
        "Alt-W"
        "Ctrl-Y"
        "Ctrl-Shift-R"
        "Ctrl-Shift-S"
        "Ctrl-@"
        "Ctrl-C"
        "Ctrl-L"
        "Alt-D"
        "Alt-I"
        "Alt-P"
        "Alt-J"
        "Alt-,"
        "Alt-F"
        "Alt-M"
        "Ctrl-Tab"
        "Ctrl-Shift-Tab"
        "Ctrl-W"
        "Alt-B"
        "Alt-L"
        "Alt-T"
        "Ctrl-T"
        "Alt-:"
        "Ctrl-:"
        "Alt-H"
        "Ctrl-M"
        "Ctrl-H"
        "Alt-X"
      ]
    firstBoot: false
    juliaOptions:
      arguments: [
        "JUNO_OHMYREPL"
      ]
      optimisationLevel: 2
    juliaPath: "julia"
    uiOptions:
      enableMenu: true
      enableToolBar: false
  "language-babel":
    allowLocalOverride: true
    emmetCSSAutocomplete: true
  "language-markdown":
    disableLanguageGfm: false
  "language-weave":
    showPreview: false
  "latex-completions":
    selector: ".source.julia, .source.weave.md, .source.gfm, .text"
  "linter-coffeelint":
    disableIfNoConfig: true
  "linter-eslint":
    global:
      useGlobalEslint: true
  "linter-tslint":
    fixOnSave: false
    ignoreTypings: true
    useGlobalTslint: true
  "markdown-preview-enhanced":
    codeBlockTheme: "github.css"
    enableCriticMarkupSyntax: true
    enableExtendedTableSyntax: true
    enableScriptExecution: true
    enableTypographer: true
    fileExtension: ".md, .MD, .jmd, Jmd, .pmd, .Pmd, .rmd, .Rmd"
    openPreviewPaneAutomatically: false
    printBackground: true
  "markdown-writer":
    grammars: [
      "source.gfm"
      "source.gfm.rmd"
      "source.gfm.nvatom"
      "source.litcoffee"
      "source.pweave.md"
      "source.weave.md"
      "text.md"
      "text.plain"
      "text.plain.null-grammar"
    ]
    inlineNewLineContinuation: true
    relativeImagePath: true
    siteImagesDir: "./assets/"
    tableExtraPipes: true
    templateVariables:
      ulBullet0: "-"
      ulBullet1: "*"
      ulBullet2: "+"
      ulBullet3: "-"
      ulBullet4: "*"
      ulBullet5: "+"
    textStyles:
      math:
        after: "$"
        before: "$"
  minimap:
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      "minimap-autohider": true
      "minimap-autohiderDecorationsZIndex": 0
      selection: true
      selectionDecorationsZIndex: 0
      "split-diff": true
      "split-diffDecorationsZIndex": 0
  "minimap-autohider": {}
  "minimap-git-diff": {}
  "minimap-linter": {}
  "minimap-selection":
    highlightCursorsLines: true
    outlineSelection: true
  "open-in-app":
    defaultApplication: "C:/Program Files (x86)/Google/Chrome/Application/chrome.exe"
  "package-generator":
    createInDevMode: true
  "pdf-view": {}
  script:
    cwdBehavior: "Directory of the script"
  "spell-check":
    addKnownWords: true
    excludedScopes: [
      "code.raw.markup.md"
      "comment"
      "comment.critic.markup.md"
      "fenced.code.md"
      "front-matter.yaml"
      "link"
      "math.markup.md"
      "meta.tag"
      "markup.raw.gfm"
      "quote.markup.md"
      "source.embedded"
      "special-attributes.raw.markup.md"
    ]
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "source.rst"
      "source.weave.md"
      "text.git-commit"
      "text.md"
      "text.plain"
      "text.restructuredtext"
    ]
    knownWords: [
      "aviatesk"
      "aviat"
      "th"
      "s"
    ]
  "split-diff":
    ignoreWhitespace: true
    muteNotifications: true
    syncHorizontalScroll: true
    turnOffSoftWrap: true
  "status-bar":
    cursorPositionFormat: "%L L | %C C"
    selectionCountFormat: "(%L L | %C Char)"
  termination:
    core:
      shell: "C:\\Program Files\\Git\\bin\\bash.exe"
    customTexts:
      customText1: "apm list --installed --dev false --bare > ~/.atom/my-packages.txt"
      customText2: "bash ~/.atom/scripts/process-md.sh $F"
      customText3: "C:\\Users\\aviat\\.atom\\scripts\\process-md.bat $F"
      customText4: "git remote add -f -m upstream/master upstream ${urlText}"
    style:
      fontFamily: "Myrica M"
      fontSize: "14"
      theme: "one-dark"
    toggles:
      cursorBlink: false
      runInsertedText: false
  "todo-show":
    exportAs: "Table"
    showInTable: [
      "Type"
      "Text"
      "Project"
      "Path"
      "Line"
    ]
    sortBy: "Project"
    statusBarIndicator: true
  "tool-bar":
    iconSize: "24px"
    position: "Left"
    visible: true
  "tree-view":
    squashDirectoryNames: true
  "tree-view-autoresize": {}
  "tree-view-git-status":
    gitFlow: {}
  "uber-juno":
    disable: true
  welcome:
    showOnStartup: false
  wordcount:
    ignorecode: true
    ignorecomments: true
  "wrap-guide":
    enabled: false
".coffee.source":
  editor:
    preferredLineLength: 80
    softWrapHangingIndent: 1
    tabLength: 2
  "wrap-guide":
    enabled: true
".css.less.source":
  editor:
    softWrapHangingIndent: 1
    tabLength: 2
".css.source":
  editor:
    softWrapHangingIndent: 1
    tabLength: 2
".css.source.styled":
  editor:
    softWrapHangingIndent: 1
    tabLength: 2
".flow.source":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 1
    tabLength: 2
  "wrap-guide":
    enabled: true
".gfm.rmd.source":
  editor:
    tabType: "soft"
  whitespace:
    ensureSingleTrailingNewline: false
".gfm.source":
  editor:
    tabType: "soft"
".java.source":
  editor:
    preferredLineLength: 100
    tabType: "soft"
  "wrap-guide":
    enabled: true
".js.jsx.source":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 1
    tabLength: 2
".js.source":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 1
    tabLength: 2
  "wrap-guide":
    enabled: true
".julia.source":
  editor:
    preferredLineLength: 80
  "wrap-guide":
    enabled: true
".md.pweave.source":
  editor:
    tabType: "soft"
  whitespace:
    ensureSingleTrailingNewline: false
    removeTrailingWhitespace: false
".md.source.weave":
  editor:
    softWrap: true
  whitespace:
    ensureSingleTrailingNewline: false
    removeTrailingWhitespace: false
".md.text":
  editor:
    tabType: "soft"
  whitespace:
    ensureSingleTrailingNewline: false
    removeTrailingWhitespace: false
".python.source":
  editor:
    preferredLineLength: 80
    tabType: "soft"
  "wrap-guide":
    enabled: true
".source.sql":
  editor:
    softWrapHangingIndent: 1
    tabLength: 2
".source.ts":
  editor:
    preferredLineLength: 120
    softWrapHangingIndent: 1
    tabLength: 2
  "wrap-guide":
    enabled: true
".source.tsx":
  editor:
    preferredLineLength: 120
    softWrapHangingIndent: 1
    tabLength: 2
  "wrap-guide":
    enabled: true
