"*":
  Hydrogen:
    autocompleteSuggestionPriority: 1
    gateways: "[{ \"name\": \"Local notebook\", \"options\": { \"baseUrl\": \"http://localhost:8888\", \"token\": \"JupyterLocalAuthToken\" } }, { \"name\": \"WSL notebook\", \"options\": { \"baseUrl\": \"http://localhost:8888\", \"token\": \"JupyterLocalAuthTokenWSL\"} }]"
    languageMappings: "{ \"julia\": \"weave.jl markdown\", \"common-lisp\": \"common lisp\", \"python\": \"pweave markdown\", \"r\": \"r markdown\" }"
    outputAreaDock: true
    showInspectorResultsInAutocomplete: true
    startDir: "dirOfFile"
    startupCode: "{\"Python 3\": \"%matplotlib inline\\nimport matplotlib.pyplot as plt\\nplt.style.use('dark_background')\", \"Python 3.6\": \"%matplotlib inline\\nimport matplotlib.pyplot as plt\\nplt.style.use('dark_background')\"}"
    wrapOutput: true
  "Zen-plus":
    fullscreen: false
    minimap: true
  "advanced-open-file":
    fuzzyMatch: true
    helmDirSwitch: true
  "atom-clock":
    dateFormat: "YYYY/MM/DD/HH:mm"
    showTooltip: true
  "atom-latex":
    build_after_save: false
    completion_suggestion_priority: 1
    delayed_minimap_refresh: true
    hide_log_if_success: true
    latexmk_param: "-synctex=1 -interaction=nonstopmode -file-line-error -shell-escape"
    preview_after_build: "Do nothing"
    toolchain: "latexmk toolchain"
  "atom-package-deps":
    ignored: [
      "hyperclick-latex"
    ]
  "atom-path-intellisense":
    "allowed-scopes": ".string.quoted"
  "autocomplete-paths":
    ignoredPatterns: []
    maxFileCount: 5000
    scopes: [
      {
        extensions: [
          "jpg"
          "jpeg"
          "png"
          "svg"
        ]
        prefixes: [
          "\\<img\\ssrc="
          "\\!\\[.*\\]\\("
        ]
        scopes: [
          "source.gfm"
          "source.weave.md"
          "source.pweave.md"
          "text.md"
        ]
      }
      {
        prefixes: [
          "\\[.*\\]\\("
          "\\[.*\\]\\:\\s"
        ]
        scopes: [
          "source.gfm"
          "source.weave.md"
          "source.pweave.md"
          "text.md"
        ]
      }
      {
        extensions: [
          ".tex"
          ".bib"
          ".tikz"
        ]
        prefixes: [
          "\\\\input{"
          "\\\\include(?:only)?{([^\\}]*?\\,\\s*)*"
          "\\\\(?:addbibresource|add(?:global|section)bib)(?:\\[.*?\\])?{"
          "^%\\s*!T[eE]X\\s+(root|bib)\\s*=\\s*"
        ]
        relative: true
        scopes: [
          "text.tex.latex"
          "text.tex.latex.tikz"
        ]
      }
      {
        extensions: [
          ".jpeg"
          ".jpg"
          ".png"
        ]
        prefixes: [
          "\\\\includegraphics(\\[.*?\\])?{"
        ]
        relative: true
        scopes: [
          "text.tex.latex"
          "text.tex.latex.tikz"
        ]
      }
      {
        extensions: [
          ".*"
        ]
        prefixes: [
          "\\\\inputminted(\\[.*?\\])?\\{.*\\}\\{"
        ]
        relative: true
        scopes: [
          "text.tex.latex"
          "text.tex.latex.tikz"
        ]
      }
    ]
  "autocomplete-plus":
    enableExtendedUnicodeSupport: true
    minimumWordLength: 2
  "bracket-matcher": {}
  core:
    allowPendingPaneItems: true
    audioBeep: false
    autoHideMenuBar: true
    automaticallyUpdate: false
    customFileTypes:
      "source.gfm": [
        "_draft.md"
        "CHANGELOG.md"
        "CODE_OF_CONDUCT.md"
        "CONTRIBUTING.md"
        "LICENSE.md"
        "README.md"
      ]
      "source.gfm.rmd": [
        "Rmd"
        "rmd"
      ]
      "source.java": [
        "jsh"
      ]
      "source.tsx": [
        "tsx"
      ]
      "text.md": [
        "md"
      ]
    disabledPackages: [
      "bookmarks"
      "deprecation-cop"
      "git-diff"
      "markdown-preview"
    ]
    excludeVcsIgnoredPaths: true
    ignoredNames: [
      "._*"
      ".hg"
      ".git"
      ".svn"
      ".DS_store"
      "Thumbs.db"
      "desktop.ini"
      "node_modules"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "Hydrogen"
      "Zen-plus"
      "atom-latex"
      "git-diff"
      "git-diff-plus"
      "git-plus"
      "git-time-machine"
      "hey-pane"
      "julia-client"
      "language-weave"
      "latex-tree"
      "markdown-preview-enhanced"
      "markdown-writer"
      "split-diff"
      "todo-show"
      "spell-check"
      "tree-view"
    ]
    packagesWithSnippetsDisabled: [
      "language-julia"
      "language-weave"
      "language-haskell"
    ]
    projectHome: "C:\\Users\\aviat\\github\\atom-pkgs"
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "ariake-dark-syntax"
    ]
    uriHandlerRegistration: "always"
    warnOnLargeFileLimit: 10
  "cursor-history":
    openInPendingState: true
    rowDeltaToRemember: 3
  "document-outline":
    showByDefault: false
  editor:
    fontFamily: "Fira Code, Source Han Code JP"
    fontSize: 15
    nonWordCharacters: "/\\()\"':,.;<>~!@#$%^&*|+=[]{}`?-…．。．、，（）「」［］｛｝《》てにをはがのともへでや"
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
    softWrapHangingIndent: 1
    tabLength: 2
    zoomFontWhenCtrlScrolling: false
  "emacs-plus": {}
  "exception-reporting":
    userId: "9e026ba7-7268-13e9-0769-5cb4ad435f2f"
  "file-icons": {}
  "find-and-replace":
    closeFindPanelAfterSearch: true
    enablePCRE2: true
    focusEditorAfterSearch: true
    useRipgrep: true
  "fuzzy-finder": {}
  "git-diff-plus": {}
  "git-plus":
    diffs:
      useSplitDiff: true
      wordDiff: true
    experimental:
      autoFetch: 0
      customCommands: true
      diffBranches: true
    general:
      enableStatusBarIcon: false
      showBranchInTreeView: false
    remoteInteractions:
      promptForBranch: true
  "hey-pane":
    expandedWidth: 95
    followLocations:
      bottom: false
      left: false
      right: false
    followModeByDefault: false
  "highlight-line":
    enableBackgroundColor: false
    hideHighlightOnSelect: true
  "highlight-selected":
    onlyHighlightWholeWords: false
  ink:
    terminal:
      ansiBlue:
        dark: "#f5faff"
      ansiBrightBlue:
        dark: "#f5faff"
      ansiBrightCyan:
        dark: "#93ddfb"
      ansiBrightGreen:
        dark: "#a571f4"
      ansiBrightMagenta:
        dark: "#dda2f6"
      ansiBrightRed:
        dark: "#4d8acb"
      ansiBrightYellow:
        dark: "#86b1e0"
      ansiCyan:
        dark: "#93ddfb"
      ansiGreen:
        dark: "#a571f4"
      ansiMagenta:
        dark: "#dda2f6"
      ansiRed:
        dark: "#4d8acb"
      ansiYellow:
        dark: "#86b1e0"
  "julia-client":
    consoleOptions:
      shell: "C:\\Program Files\\Git\\bin\\bash.exe"
      whitelistedKeybindingsREPL: [
        "ctrl-tab"
        "ctrl-shift-tab"
        "ctrl-alt-right"
        "ctrl-alt-left"
        "ctrl-w"
        "ctrl-v"
        "alt-:"
        "ctrl-t"
        "alt-t"
        "alt-b"
        "alt-l"
        "alt-h"
        "alt-shift-h"
        "ctrl-h"
        "alt-x"
        "ctrl-c"
        "ctrl-l"
        "alt-i"
        "alt-p"
        "alt-w"
        "alt-j"
        "alt-,"
        "alt-f"
        "alt-m"
        "alt-d"
        "f8"
        "shift-f8"
        "f9"
        "f10"
        "ctrl-f10"
        "shift-f10"
      ]
      whitelistedKeybindingsTerminal: [
        "ctrl-tab"
        "ctrl-shift-tab"
        "ctrl-alt-right"
        "ctrl-alt-left"
        "ctrl-w"
        "ctrl-v"
        "alt-:"
        "ctrl-t"
        "alt-t"
        "alt-b"
        "alt-l"
        "alt-h"
        "alt-shift-h"
        "ctrl-h"
        "alt-x"
      ]
    firstBoot: false
    juliaOptions:
      arguments: []
      autoCompletionSuggestionPriority: 1
      bootMode: "Cycler"
      noAutoParenthesis: true
      optimisationLevel: 2
      persistWorkingDir: false
      startupArguments: []
      workingDir: ""
    juliaPath: "julia"
    uiOptions:
      cellDelimiter: [
        "#%%"
        "# %%"
      ]
      enableMenu: true
      errorInRepl: true
      layouts:
        debuggerPane:
          split: "up"
        defaultPanes:
          outline: true
          plotPane: false
        documentation:
          defaultLocation: "right"
          split: "up"
        linter:
          defaultLocation: "right"
          split: "down"
        openDefaultPanesOnStartUp: false
        outline:
          defaultLocation: "right"
          split: "up"
        plotPane:
          defaultLocation: "right"
          split: "down"
        workspace:
          defaultLocation: "right"
          split: "down"
  "language-markdown":
    disableLanguageGfm: false
  "language-weave":
    showPreview: false
  "latex-completions":
    selector: ".source.julia, .source.weave.md, .source.gfm, .text"
  "latex-tree":
    updateFreq: "Medium"
  "latex-wordcount":
    enableShellEscape: true
  "markdown-preview-enhanced":
    automaticallyShowPreviewOfMarkdownBeingEdited: false
    breakOnSingleNewLine: false
    enableCriticMarkupSyntax: true
    enableExtendedTableSyntax: true
    enableScriptExecution: true
    enableTypographer: true
    fileExtension: ".md, .MD, .jmd, Jmd, .pmd, .Pmd, .rmd, .Rmd"
    openPreviewPaneAutomatically: false
    previewTheme: "one-dark.css"
    printBackground: true
  "markdown-writer":
    grammars: [
      "source.gfm"
      "source.gfm.rmd"
      "source.gfm.nvatom"
      "source.litcoffee"
      "source.pweave.md"
      "source.weave.md"
      "text.md"
      "text.plain"
      "text.plain.null-grammar"
    ]
    inlineNewLineContinuation: true
    relativeImagePath: true
    siteImagesDir: "./assets/"
    tableExtraPipes: true
    templateVariables:
      ulBullet0: "-"
      ulBullet1: "*"
      ulBullet2: "+"
      ulBullet3: "-"
      ulBullet4: "*"
      ulBullet5: "+"
    textStyles:
      math:
        after: "$"
        before: "$"
  minimap:
    absoluteMode: true
    independentMinimapScroll: true
    moveCursorOnMinimapClick: true
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      "minimap-autohider": true
      "minimap-autohiderDecorationsZIndex": 0
      selection: true
      selectionDecorationsZIndex: 0
    redrawDelay: 200
    scrollAnimation: true
    scrollAnimationDuration: 500
  "minimap-selection":
    highlightCursorsLines: true
    outlineSelection: true
  "one-dark-ui": {}
  "open-in-app":
    defaultApplication: "C:/\"Program Files (x86)\"/Google/Chrome/Application/chrome.exe"
  "package-generator":
    createInDevMode: true
  "pdf-view-plus":
    autoreloadDebounce: 3000
    enableSynctex: true
  "spell-check":
    addKnownWords: true
    excludedScopes: [
      "code.raw.markup.md"
      "comment"
      "comment.critic.markup.md"
      "fenced.code.md"
      "front-matter.yaml"
      "link"
      "math.markup.md"
      "meta.tag"
      "markup.raw.gfm"
      "quote.markup.md"
      "source.embedded"
      "special-attributes.raw.markup.md"
    ]
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "source.rst"
      "source.weave.md"
      "text.git-commit"
      "text.md"
      "text.plain"
      "text.restructuredtext"
    ]
    knownWords: [
      "aviatesk"
      "aviat"
      "kbd"
      "th"
      "s"
    ]
  "split-diff":
    ignoreWhitespace: true
    muteNotifications: true
    syncHorizontalScroll: true
    turnOffSoftWrap: true
  "status-bar":
    cursorPositionFormat: "%L L | %C C"
    selectionCountFormat: "(%L L | %C Char)"
  "todo-show":
    autoRefresh: false
    exportAs: "Table"
    findTheseTodos: [
      "TODO"
      "FIXME"
      "CHANGED"
      "XXX"
      "IDEA"
      "HACK"
      "REVIEW"
      "NB"
      "BUG"
      "QUESTION"
      "COMBAK"
      "TEMP"
    ]
    showInTable: [
      "Type"
      "Text"
      "Path"
      "Line"
    ]
    sortBy: "Path"
    statusBarIndicator: true
  "tree-view":
    squashDirectoryNames: true
  "tree-view-autoadjust":
    maximumWidth: 300
  "tree-view-git-status": {}
  welcome:
    showOnStartup: false
  "wrap-guide":
    enabled: false
".beamer.latex.tex.text":
  editor:
    tabLength: 2
".coffee.source":
  "wrap-guide":
    enabled: true
".flow.source":
  editor:
    preferredLineLength: 100
  "wrap-guide":
    enabled: true
".gfm.rmd.source":
  editor:
    tabType: "soft"
  whitespace:
    ensureSingleTrailingNewline: false
".gfm.source":
  editor:
    tabType: "soft"
  whitespace:
    ensureSingleTrailingNewline: false
    removeTrailingWhitespace: false
".java.source":
  editor:
    preferredLineLength: 100
  "wrap-guide":
    enabled: true
".js.jsx.source":
  editor:
    preferredLineLength: 120
".js.source":
  editor:
    preferredLineLength: 120
  "wrap-guide":
    enabled: true
".julia.source":
  editor:
    preferredLineLength: 92
  "wrap-guide":
    enabled: true
".knitr.latex.tex.text":
  editor:
    tabLength: 2
".latex.memoir.tex.text":
  editor:
    tabLength: 2
".latex.tex.text":
  editor:
    tabLength: 2
  "wrap-guide":
    enabled: true
".latex.tex.text.tikz":
  editor:
    tabLength: 2
".md.pweave.source":
  editor:
    tabType: "soft"
  whitespace:
    ensureSingleTrailingNewline: false
    removeTrailingWhitespace: false
".md.source.weave":
  editor:
    softWrap: true
  whitespace:
    ensureSingleTrailingNewline: false
    removeTrailingWhitespace: false
".md.text":
  editor:
    tabType: "soft"
  whitespace:
    ensureSingleTrailingNewline: false
    removeTrailingWhitespace: false
".python.source":
  editor:
    tabType: "soft"
  "wrap-guide":
    enabled: true
".source.ts":
  editor:
    preferredLineLength: 120
  "wrap-guide":
    enabled: true
".source.tsx":
  editor:
    preferredLineLength: 120
  "wrap-guide":
    enabled: true
