### Core ###
'body':

  ## Movements
  'ctrl-o': 'core:move-up'
  'ctrl-p': 'core:page-up'
  'ctrl-l': 'core:move-right'
  'ctrl-n': 'core:move-down'
  'ctrl-shift-p': 'core:page-down'
  'ctrl-k': 'core:move-left'

  ## Operations
  'alt-w': 'core:copy'
  'ctrl-v': 'core:paste'
  'ctrl-m': 'core:confirm'
  'ctrl-;': 'core:confirm'
  'ctrl-g': 'core:cancel'
  'ctrl-w': 'tabs:close-tab'
  'ctrl-shift-w': 'tabs:close-all-tabs'
  'ctrl-shift-a': 'core:select-all'
  'ctrl-tab ^ctrl': 'unset!'
  'ctrl-tab': 'pane:show-next-item'
  'ctrl-shift-tab ^ctrl': 'unset!'
  'ctrl-shift-tab': 'pane:show-previous-item'


### All the atom-workspace ###
'atom-workspace':

  ## Operations
  # General
  'ctrl-h': 'command-palette:toggle'
  'alt-x': 'command-palette:toggle'
  'alt-,': 'key-binding-resolver:toggle'
  'f5': 'window:reload'
  'ctrl-f5': 'atom-hot-package-loader:reload'
  'f11': 'window:toggle-full-screen'
  'ctrl-x ctrl-c': 'window:close'
  # Finder
  'ctrl-x f': 'fuzzy-finder:toggle-file-finder'
  'ctrl-x alt-b': 'fuzzy-finder:toggle-buffer-finder'
  'ctrl-x alt-g': 'fuzzy-finder:toggle-git-status-finder'
  'ctrl-x ctrl-f': 'advanced-open-file:toggle'
  # Project-Management
  'ctrl-x p': 'application:reopen-project'
  'ctrl-x ctrl-p': 'project-manager:list-projects'

  ## Pane
  # next / previous
  'ctrl-x o': 'window:focus-next-pane'
  # up
  'ctrl-x u': 'window:focus-pane-above'
  'ctrl-x ctrl-u': 'pane:split-up-and-move-active-item'
  'ctrl-alt-u': 'window:move-active-item-to-pane-above'
  'ctrl-x 4': 'pane:split-up-and-copy-active-item'
  'ctrl-x up': 'pane:split-up-and-copy-active-item'
  'ctrl-x ctrl-4': 'window:copy-active-item-to-pane-above'
  'ctrl-x ctrl-up': 'window:copy-active-item-to-pane-above'
  # right
  'ctrl-x l': 'window:focus-pane-on-right'
  'ctrl-x ctrl-l': 'pane:split-right-and-move-active-item'
  'ctrl-alt-l': 'window:move-active-item-to-pane-on-right'
  'ctrl-x 3': 'pane:split-right-and-copy-active-item'
  'ctrl-x right': 'pane:split-right-and-copy-active-item'
  'ctrl-x ctrl-3': 'window:copy-active-item-to-pane-on-right'
  'ctrl-x ctrl-right': 'window:copy-active-item-to-pane-on-right'
  # down
  'ctrl-x b': 'window:focus-pane-below'
  'ctrl-x ctrl-b': 'pane:split-down-and-move-active-item'
  'ctrl-alt-b': 'window:move-active-item-to-pane-below'
  'ctrl-x 2': 'pane:split-down-and-copy-active-item'
  'ctrl-x down': 'pane:split-down-and-copy-active-item'
  'ctrl-x ctrl-2': 'window:copy-active-item-to-pane-below'
  'ctrl-x ctrl-down': 'window:copy-active-item-to-pane-below'
  # left
  'ctrl-x k': 'window:focus-pane-on-left'
  'ctrl-x ctrl-k': 'pane:split-left-and-move-active-item'
  'ctrl-alt-k': 'window:move-active-item-to-pane-on-left'
  'ctrl-x 5': 'pane:split-left-and-copy-active-item'
  'ctrl-x left': 'pane:split-left-and-copy-active-item'
  'ctrl-x ctrl-5': 'window:copy-active-item-to-pane-on-left'
  'ctrl-x ctrl-left': 'window:copy-active-item-to-pane-on-left'
  # tab
  'ctrl-alt-right': 'pane:move-item-right'
  'ctrl-alt-left': 'pane:move-item-left'
  'ctrl-1': 'pane:show-item-1'
  'ctrl-2': 'pane:show-item-2'
  'ctrl-3': 'pane:show-item-3'
  'ctrl-4': 'pane:show-item-4'
  'ctrl-5': 'pane:show-item-5'
  'ctrl-6': 'pane:show-item-6'
  'ctrl-7': 'pane:show-item-7'
  'ctrl-8': 'pane:show-item-8'
  'ctrl-9': 'pane:show-item-9'

  ## Dock
  'alt-l': 'window:toggle-right-dock'
  'alt-b': 'window:toggle-bottom-dock'
  'alt-down': 'window:toggle-bottom-dock'
  'alt-right': 'window:toggle-right-dock'
  'alt-left': 'window:toggle-left-dock'

  ## Tree-View
  'ctrl-t': 'tree-view:toggle-focus'
  'alt-t': 'tree-view:toggle'
  'ctrl-x ctrl-t': 'tree-view:toggle'

  ## Dqs-Shell-Commands
  'alt-q': 'dqs-shell-commands-config:toggle'
  'ctrl-g': 'dqs-shell-commands-config:hide'

  ## Git
  'alt-h': 'github:toggle-git-tab'
  'alt-shift-h': 'github:toggle-github-tab'
  'ctrl-alt-h': 'git-plus:toggle-output-view'
  'ctrl-x ctrl-g': 'git-plus:menu'
  'alt-g o': 'git-plus:checkout'
  'alt-g s': 'git-plus:stash-save-message'
  'alt-g ctrl-s': 'git-plus:manage-stashes'
  'alt-g shift-s': 'git-plus:stash-apply'
  'alt-g c': 'git-plus:commit'
  'alt-g ctrl-c': 'git-plus:commit-amend'
  'alt-g r': 'git-plus:rebase-interactive'
  'alt-g ctrl-r': 'git-plus:rebase-continue'
  'alt-g shift-r': 'git-plus:rebase-abort'

  ## Project-Find
  'ctrl-alt-s': 'project-find:toggle'
  'ctrl-alt-r': 'project-find:toggle'

  ## Atom-IDE
  # Diagnostics
  'alt-d': 'window:toggle-bottom-dock'
  # Find references
  'alt-f': 'window:toggle-bottom-dock'
  # Outline-View
  'ctrl-alt-o': 'window:focus-pane-on-left'

  ## Hydrogen
  'alt-k o': 'hydrogen:toggle-output-area'
  'alt-k m': 'hydrogen:toggle-kernel-monitor'
  'alt-k space': 'hydrogen:toggle-bubble'
  'alt-k p': 'hydrogen-studio:open-plot-pane'
  'alt-k i': 'hydrogen-studio:open-inspector-pane'

  ## Julia-client
  'ctrl-@': 'julia-client:focus-last-terminal'
  'alt-j': 'unset!'
  'alt-j o': 'julia-client:open-console'
  'alt-j d': 'julia-debug:open-debugger-pane'
  'alt-j i': 'julia-client:open-documentation-browser'
  'alt-j p': 'julia-client:open-plot-pane'
  'alt-j w': 'julia-client:open-workspace'
  'alt-j ,': 'julia-client:settings'
  'alt-j ctrl-s': 'julia-client:start-julia'
  'alt-j ctrl-c': 'julia-client:interrupt-julia'
  'alt-j ctrl-k': 'julia-client:kill-julia'
  'alt-j ctrl-l': 'julia-client:clear-console'
  'alt-j ctrl-f': 'julia-client:select-working-folder'
  'alt-j ctrl-m': 'julia-client:set-working-module'

  ## Atom-IDE-Debugger-Python
  'alt-y d': 'debugger:toggle'

  ## Termination
  'alt-:': 'termination:toggle'
  'ctrl-:': 'termination:focus'

  ## Todo-Show
  'ctrl-alt-t': 'todo-show:toggle'

  ## Zen
  'alt-z': 'zen:toggle'


### Per-mode settings -- NOT IN atom-editor-space ###

## Tree-View
'.tree-view':

  ## Meta
  'ctrl-x o': 'tree-view:toggle-focus'

  ## Movements
  'a': 'core:move-to-top'
  'o': 'core:move-up'
  'n': 'core:move-down'
  'e': 'core:move-to-bottom'
  'ctrl-a': 'core:move-to-top'
  'ctrl-e': 'core:move-to-bottom'

  ## Operations
  # select & view
  'enter': 'tree-view:open-selected-entry'
  'm': 'tree-view:open-selected-entry'
  'ctrl-m': 'tree-view:expand-item'
  'ctrl-alt-m': 'tree-view:recursive-expand-directory'
  'shift-m': 'tree-view:collapse-directory'
  'alt-shift-m': 'tree-view:recursive-collapse-directory'
  # manage folder
  'ctrl-p': 'application:add-project-folder'
  'shift-p': 'tree-view:remove-project-folder'
  # manage file
  'ctrl-f': 'tree-view:add-file'
  'alt-f': 'tree-view:add-folder'
  'ctrl-r': 'tree-view:rename'
  'ctrl-d': 'tree-view:remove'
  'alt-w': 'tree-view:copy'
  'ctrl-w': 'tree-view:cut'
  'ctrl-v': 'tree-view:paste'
  'ctrl-y': 'tree-view:paste'
  # copy path
  'ctrl-c': 'tree-view:copy-project-path'
  'alt-c': 'tree-view:copy-full-path'

  ## Unsets
  'alt-left': 'unset!'
  'alt-right': 'unset!'

## Advanced-open-file
'.advanced-open-file atom-text-editor':
  'ctrl-o': 'advanced-open-file:move-cursor-up'
  'ctrl-n': 'advanced-open-file:move-cursor-down'
  'ctrl-m': 'core:confirm'
  'ctrl-;': 'core:confirm'
  'ctrl-i': 'advanced-open-file:autocomplete'
  'ctrl-:': 'advanced-open-file:autocomplete'
  'ctrl-d': 'advanced-open-file:delete-path-component'
  'ctrl-z': 'advanced-open-file:undo'

## Project-Find
'.project-find':
  'ctrl-f r': 'project-find:toggle-regex-option'
  'ctrl-f c': 'project-find:toggle-case-option'
  'ctrl-f w': 'project-find:toggle-whole-word-option'
  'ctrl-enter': 'project-find:find-all'
  'ctrl-shift-alt-enter': 'project-find:replace-all'

## Git ##
'.github-StagingView':
  ## Movements
  'o': 'core:move-up'
  'n': 'core:move-down'
  'ctrl-o': 'core:move-up'
  'ctrl-n': 'core:move-down'
  'tab': 'core:focus-next'
  'shift-tab': 'core:focus-previous'
  ## Operations
  'm': 'core:confirm'
  'ctrl-m': 'core:confirm'
  'ctrl-alt-m': 'github:unstage-all-changes'
  ';': 'core:move-left'
  'ctrl-;': 'core:move-left'
  'enter': 'github:jump-to-file'
  'ctrl-enter': 'github:jump-to-file'
'.github-StagingView.unstaged-changes-focused':
  ## Operations
  'ctrl-m': 'core:confirm'
  'ctrl-alt-m': 'github:stage-all-changes'
'.github-FilePatchView atom-text-editor:not([mini])':
  ## Movements
  'o': 'core:move-up'
  'n': 'core:move-down'
  'ctrl-o': 'core:move-up'
  'ctrl-n': 'core:move-down'
  ## Operations
  '/': 'github:toggle-patch-selection-mode'
  'ctrl-/': 'github:toggle-patch-selection-mode'
  'm': 'core:confirm'
  'ctrl-m': 'core:confirm'
  ';': 'github:surface'
  'ctrl-;': 'github:surface'
  'enter': 'github:jump-to-file'
  'ctrl-enter': 'github:jump-to-file'
'.github-FilePatchView--hunkMode atom-text-editor:not([mini])':
  'o': 'github:select-previous-hunk'
  'n': 'github:select-next-hunk'
  'ctrl-o': 'github:select-previous-hunk'
  'ctrl-n': 'github:select-next-hunk'

## Termination
".termination .terminal":
  'alt-backspace': 'editor:delete-to-beginning-of-word'
  'alt-1': 'termination:insert-custom-text-1' # Renew ~/.atom/my-packages.txt from bash
  'alt-2': 'termination:insert-custom-text-2' # Process .pmd or .Rmd file from bash
  'alt-"': 'termination:insert-custom-text-3' # Process .pmd or .Rmd file from command prompt
  'alt-w': 'termination:copy'
  'alt-v': 'termination:paste'
  'alt-i': 'termination:insert-text'
  'alt-n': 'termination:new'
  'alt-k': 'termination:prev'
  'alt-l': 'termination:next'
  'alt-r': 'termination:rename'
  'alt-x': 'command-palette:toggle'
  'alt-t': 'tree-view:toggle-focus'
  'alt-h': 'github:toggle-git-tab-focus'

## PDF-View
'.pdf-view':
  'o': 'core:move-up'
  'l': 'core:move-right'
  'n': 'core:move-down'
  'k': 'core:move-left'
  'p': 'pdf-view:go-to-previous-page'
  'shift-p': 'pdf-view:go-to-next-page'
  'ctrl-o': 'core:move-up'
  'ctrl-l': 'core:move-right'
  'ctrl-n': 'core:move-down'
  'ctrl-k': 'core:move-left'
  'ctrl-p': 'pdf-view:go-to-previous-page'
  'ctrl-shift-p': 'pdf-view:go-to-next-page'
  'g': 'pdf-view:go-to-page'
  'ctrl-x g': 'pdf-view:go-to-page'
  'ctrl-x ctrl-f': 'advanced-open-file:toggle'

## Spell-Check
'.corrections':
  'tab': 'core:confirm'
  'ctrl-;': 'core:confirm'


### All the atom-text-editor space, including mini(one-line) editor space ###
'atom-text-editor':

  ## Movements
  'ctrl-o': 'core:move-up'
  'ctrl-u': 'editor:move-to-beginning-of-previous-paragraph'
  'ctrl-p': 'core:page-up'
  'ctrl-l': 'core:move-right'
  'ctrl-.': 'editor:move-to-end-of-word'
  'ctrl-e': 'editor:move-to-end-of-screen-line'
  'ctrl-n': 'core:move-down'
  'ctrl-b': 'editor:move-to-beginning-of-next-paragraph'
  'ctrl-shift-p': 'core:page-down'
  'ctrl-k': 'core:move-left'
  'ctrl-,': 'editor:move-to-beginning-of-word'
  'ctrl-a': 'editor:move-to-first-character-of-line'

  # Operations
  'ctrl-d': 'editor:delete-to-end-of-line'
  'ctrl-shift-d': 'editor:delete-line'
  'ctrl-f': 'emacs-plus:kill-line'
  'ctrl-shift-f': 'emacs-plus:kill-whole-line'
  'ctrl-j': 'core:delete'
  'ctrl-shift-j': 'editor:delete-to-end-of-word'
  'alt-j': 'emacs-plus:kill-word'
  'ctrl-alt-i': 'window:toggle-invisibles'

  ## Dock
  'alt-l': 'window:toggle-right-dock'
  'alt-b': 'window:toggle-bottom-dock'

  ## Tree view
  'alt-t': 'tree-view:toggle'
  'ctrl-x ctrl-t': 'tree-view:toggle'

  ## Git
  'ctrl-alt-g': 'github:view-unstaged-changes-for-current-file'
  'alt-shift-g': 'github:view-staged-changes-for-current-file'
  'alt-shift-t': 'git-time-machine:toggle'
  'ctrl-alt-p': 'git-diff:move-to-previous-diff'
  'ctrl-alt-n': 'git-diff:move-to-next-diff'

  ## Find-and-Replace
  'ctrl-s': 'find-and-replace:find-next'
  'ctrl-shift-s': 'find-and-replace:find-next'
  'ctrl-r': 'find-and-replace:find-previous'
  'ctrl-shift-r': 'find-and-replace:find-previous'

  ## Script -- should not be placed in .emacs-plus scope, because I write per-file run definition below
  'ctrl-x r': 'script:run'
  'ctrl-x shift-r': 'script:run-options'
  'ctrl-x ctrl-r': 'script:run-with-profile'

  ## Spell-Check
  'alt-;': 'spell-check:correct-misspelling'
  'ctrl-alt-;': 'spell-check:toggle'

  ## Unsets
  # make ctrl-k prefix-keybinding unavailable
  'ctrl-k t down': 'unset!'
  'ctrl-k t left': 'unset!'
  'ctrl-k ctrl-0': 'unset!'
  'ctrl-k ctrl-1': 'unset!'
  'ctrl-k ctrl-2': 'unset!'
  'ctrl-k ctrl-3': 'unset!'
  'ctrl-k ctrl-4': 'unset!'
  'ctrl-k ctrl-5': 'unset!'
  'ctrl-k ctrl-6': 'unset!'
  'ctrl-k ctrl-7': 'unset!'
  'ctrl-k ctrl-8': 'unset!'
  'ctrl-k ctrl-9': 'unset!'
  'ctrl-k ctrl-alt-w': 'unset!'
  'ctrl-k ctrl-b': 'unset!'
  'ctrl-k ctrl-d': 'unset!'
  'ctrl-k ctrl-down': 'unset!'
  'ctrl-k ctrl-k': 'unset!'
  'ctrl-k ctrl-l': 'unset!'
  'ctrl-k ctrl-left': 'unset!'
  'ctrl-k ctrl-n': 'unset!'
  'ctrl-k ctrl-p': 'unset!'
  'ctrl-k ctrl-right': 'unset!'
  'ctrl-k ctrl-u': 'unset!'
  'ctrl-k ctrl-up': 'unset!'
  'ctrl-k ctrl-w': 'unset!'
  'ctrl-k down': 'unset!'
  'ctrl-k h': 'unset!'
  'ctrl-k k': 'unset!'
  'ctrl-k l': 'unset!'
  'ctrl-k left': 'unset!'
  'ctrl-k right': 'unset!'
  'ctrl-k j': 'unset!'
  'ctrl-k up': 'unset!'
  'ctrl-x u': 'unset!'
  'ctrl-x ctrl-u': 'unset!'
  'ctrl-x ctrl-l': 'unset!'
  'alt-q': 'unset!'


### Atom-text-editor space, not including mini(one-line) editor space ###
'atom-text-editor.emacs-plus:not([mini])':

  ## Operations
  'ctrl-;': 'editor:newline'
  'ctrl-x g': 'go-to-line:toggle'
  'ctrl-x t': 'emacs-plus:recenter-top-bottom'
  'ctrl-s': 'find-and-replace:show'
  'ctrl-shift-s': 'find-and-replace:find-next'
  'ctrl-r': 'find-and-replace:show'
  'ctrl-shift-r': 'find-and-replace:find-previous'
  'ctrl-t': 'tree-view:toggle-focus'
  'ctrl-w': 'unset!'
  'ctrl-alt-c': 'color-picker:open'

  ## Unsets
  'alt-down': 'unset!'
  'alt-right': 'unset!'
  'alt-left': 'unset!'

  ## Atom-Beautify
  'ctrl-c ctrl-f': 'atom-beautify:beautify-editor'

  ## Atom-IDE
  # Diagnostics
  'alt-d': 'diagnostics:toggle-table'
  'alt-p': 'diagnostics:go-to-previous-diagnostic'
  'alt-end': 'diagnostics:go-to-first-diagnostic'
  'alt-n': 'diagnostics:go-to-next-diagnostic'
  'alt-home': 'diagnostics:go-to-last-diagnostic'
  # Find-Reference
  'alt-f': 'find-references:activate'
  # Outline-View
  'ctrl-alt-o': 'outline-view:toggle'

  ## Autocomplete-Plus
  'shift-space': 'autocomplete-plus:activate'

  ## Encoding-Selector
  'ctrl-x ctrl-e': 'encoding-selector:show'

  ## Grammer
  'ctrl-x ctrl-m': 'grammar-selector:show'

  ## Indent-Detective
  'ctrl-x ctrl-i': 'indent-detective:choose-indent'

  ## Line-Ending-Selector
  'ctrl-x e': 'line-ending-selector:show'

  ## Hyperclick
  'alt-enter': 'hyperclick:confirm-cursor'

  ## Split-diff
  'alt-s': 'split-diff:toggle'


### Per-mode & Per-filetype settings IN atom-editor-space ###

## Mark mode (i.e. after ctrl-space)
'atom-text-editor.emacs-plus.mark-mode:not([mini])':
  ## Movements
  # up
  'ctrl-o': 'core:select-up'
  'ctrl-u': 'editor:select-to-beginning-of-previous-paragraph'
  'ctrl-p': 'core:select-page-up'
  'ctrl-home': 'core:select-to-top'
  # right
  'ctrl-l': 'core:select-right'
  'ctrl-.': 'editor:select-to-end-of-word'
  'ctrl-e': 'editor:select-to-end-of-line'
  # down
  'ctrl-n': 'core:select-down'
  'ctrl-b': 'editor:select-to-beginning-of-next-paragraph'
  'ctrl-shift-p': 'core:select-page-down'
  'ctrl-end': 'core:select-to-bottom'
  # left
  'ctrl-k': 'core:select-left'
  'ctrl-,': 'editor:select-to-beginning-of-word'
  'ctrl-a': 'editor:select-to-first-character-of-line'
  ## Operations
  'ctrl-alt-[': 'editor:fold-selection'
  'ctrl-alt-]': 'editor:unfold-current-row'
  'ctrl-w': 'emacs-plus:kill-region'
  'alt-a': 'emacs-plus:append-next-kill'
  'ctrl-shift-a': 'core:select-all'
  'alt-p': 'find-and-replace:find-previous-selected'
  'alt-n': 'find-and-replace:find-next-selected'

## Find-and-Replace
'.find-and-replace':
  'ctrl-f r': 'find-and-replace:toggle-regex-option'
  'ctrl-f c': 'find-and-replace:toggle-case-option'
  'ctrl-f s': 'find-and-replace:toggle-selection-option'
  'ctrl-f w': 'find-and-replace:toggle-whole-word-option'
  'ctrl-enter': 'find-and-replace:find-all'
  'shift-enter': 'find-and-replace:replace-next'
  'alt-enter': 'find-and-replace:replace-previous'
  'ctrl-shift-alt-enter': 'find-and-replace:replace-all'

## Split-diff
'.split-diff':
  'ctrl-alt-p': 'split-diff:prev-diff'
  'ctrl-alt-l': 'split-diff:copy-to-right'
  'ctrl-alt-n': 'split-diff:next-diff'
  'ctrl-alt-k': 'split-diff:copy-to-left'

## Autocomplete-Plus
'atom-text-editor:not(mini).emacs-plus.autocomplete-active':
  'ctrl-;': 'autocomplete-plus:confirm'
  'ctrl-l': 'autocomplete-plus:cancel'

## Hydrogen
"
atom-text-editor[data-grammar='source python'].emacs-plus:not([mini]),
atom-text-editor[data-grammar='source pweave md'].emacs-plus:not([mini]),
atom-text-editor[data-grammar='source java'].emacs-plus:not([mini]),
atom-text-editor[data-grammar='source r'].emacs-plus:not([mini]),
atom-text-editor[data-grammar='source gfm rmd'].emacs-plus:not([mini])
":
  'ctrl-c ctrl-c': 'hydrogen:run'
  'ctrl-c ctrl-n': 'hydrogen:run-and-move-down'
  'ctrl-c ctrl-d': 'hydrogen:run-cell'
  'ctrl-c ctrl-b': 'hydrogen:run-cell-and-move-down'
  'ctrl-c ctrl-r': 'hydrogen:run-all'
  'ctrl-enter': 'hydrogen:run'
  'shift-enter': 'hydrogen:run-and-move-down'
  'alt-ctrl-enter': 'hydrogen:run-cell'
  'alt-shift-enter': 'hydrogen:run-cell-and-move-down'
  'ctrl-alt-shift-enter': 'hydrogen:run-all'
  'alt-i': 'hydrogen:toggle-inspector'
"
atom-text-editor[data-grammar='source python'].emacs-plus.mark-mode:not([mini]),
atom-text-editor[data-grammar='source pweave md'].emacs-plus.mark-mode:not([mini]),
atom-text-editor[data-grammar='source java'].emacs-plus.mark-mode:not([mini]),
atom-text-editor[data-grammar='source r'].emacs-plus.mark-mode:not([mini]),
atom-text-editor[data-grammar='source gfm rmd'].emacs-plus:not([mini])
":
  'ctrl-c ctrl-d': 'hydrogen:run'
  'ctrl-c ctrl-b': 'hydrogen:run-and-move-down'
  'alt-ctrl-enter': 'hydrogen:run'
  'alt-shift-enter': 'hydrogen:run-and-move-down'

## Markdown
"
atom-text-editor[data-grammar='text md'].emacs-plus:not([mini]),
atom-text-editor[data-grammar='source gfm'].emacs-plus:not([mini]),
atom-text-editor[data-grammar='source weave md'].emacs-plus:not([mini]),
atom-text-editor[data-grammar='source pweave md'].emacs-plus:not([mini]),
atom-text-editor[data-grammar='source gfm rmd'].emacs-plus:not([mini])
":
  ## Dqs-Shell-Commands: Process .pmd & .Rmd documents (Same as Script)
  # The appropriate shell command to process either pweave document or R-markdown gonna be automatically detected
  #  from file-extension by shell scripts kept in scripts directory
  'ctrl-x r': 'dqs-shell-commands:process-md'
  'ctrl-x ctrl-r': 'dqs-shell-commands:process-md-remain'
  ## Document-Outline
  'ctrl-alt-o': 'document-outline:toggle'
  ## Markdown-Writer
  'enter': 'markdown-writer:insert-new-line'
  'ctrl-;': 'markdown-writer:insert-new-line'
  'tab': 'markdown-writer:indent-list-line'
  'ctrl-]': 'markdown-writer:indent-list-line'
  'shift-tab': 'markdown-writer:undent-list-line'
  'ctrl-[': 'markdown-writer:undent-list-line'
  'ctrl-m': 'unset!'
  'ctrl-m b': 'markdown-writer:toggle-bold-text'
  'ctrl-m i': 'markdown-writer:toggle-italic-text'
  'ctrl-m c': 'markdown-writer:toggle-code-text'
  'ctrl-m ctrl-c': 'markdown-writer:toggle-codeblock-text'
  'ctrl-m m': 'markdown-writer:toggle-math-text'
  'ctrl-m shift-m': 'markdown-writer:toggle-mathblock-text'
  'ctrl-m k': 'markdown-writer:toggle-keystroke-text'
  'ctrl-m q': 'markdown-writer:toggle-blockquote'
  'ctrl-m s': 'markdown-writer:toggle-strikethrough-text'
  'ctrl-m u': 'markdown-writer:toggle-ul'
  'ctrl-m o': 'markdown-writer:toggle-ol'
  'ctrl-m l': 'markdown-writer:insert-link'
  'ctrl-m t': 'markdown-writer:toggle-task'
  'ctrl-m shift-t': 'markdown-writer:toggle-taskdone'
  'ctrl-m f': 'markdown-writer:format-table'
  'ctrl-m 1': 'markdown-writer:toggle-h1'
  'ctrl-m 2': 'markdown-writer:toggle-h2'
  'ctrl-m 3': 'markdown-writer:toggle-h3'
  'ctrl-m 4': 'markdown-writer:toggle-h4'
  'ctrl-m 5': 'markdown-writer:toggle-h5'
  'ctrl-m ctrl-i': 'markdown-writer:insert-image-clipboard'
  'ctrl-v': 'markdown-writer:insert-image-clipboard'
  'ctrl-m ctrl-o': 'markdown-writer:correct-order-list-numbers'
  'ctrl-m ctrl-l': 'markdown-writer:open-link-in-browser'
  'ctrl-shift-b': 'markdown-writer:open-link-in-browser'
  'ctrl-m ctrl-t': 'markdown-writer:insert-table'
  'ctrl-m ctrl-^': 'markdown-writer:insert-footnote'
  'ctrl-m ctrl-f': 'markdown-writer:insert-footnote'
  'ctrl-m ctrl-s': 'markdown-writer:toggle-substitution-text'
  'ctrl-m ctrl-a': 'markdown-writer:toggle-addition-text'
  'ctrl-m ctrl-d': 'markdown-writer:toggle-deletion-text'
  'ctrl-m /': 'markdown-writer:toggle-comment-text'
  'ctrl-m ctrl-/': 'markdown-writer:toggle-comment-text'
  'ctrl-m ctrl-h': 'markdown-writer:toggle-highlight-text'
  'ctrl-m p': 'markdown-writer:jump-to-previous-heading'
  'alt-p': 'markdown-writer:jump-to-previous-heading'
  'ctrl-m n': 'markdown-writer:jump-to-next-heading'
  'alt-n': 'markdown-writer:jump-to-next-heading'
  'ctrl-m enter': 'markdown-writer:jump-to-reference-definition'
  'alt-enter': 'markdown-writer:jump-to-reference-definition'
  'ctrl-m ctrl-m': 'markdown-writer:jump-to-next-table-cell'
  'alt-m': 'markdown-writer:jump-to-next-table-cell'
'.markdown-writer atom-text-editor[mini]':
  'enter': 'core:confirm'
  'ctrl-m': 'core:confirm'
  'ctrl-;': 'core:confirm'
  'escape': 'core:cancel'
  'ctrl-g': 'core:cancel'

## Markdown-Preview-Enhanced
"
atom-text-editor[data-grammar='text plain'].emacs-plus:not([mini]),
atom-text-editor[data-grammar='text md'].emacs-plus:not([mini]),
atom-text-editor[data-grammar='source gfm'].emacs-plus:not([mini]),
atom-text-editor[data-grammar='source weave md'].emacs-plus:not([mini]),
atom-text-editor[data-grammar='source pweave md'].emacs-plus:not([mini]),
atom-text-editor[data-grammar='source gfm rmd'].emacs-plus:not([mini])
":
  'ctrl-shift-m': 'markdown-preview-enhanced:toggle'
"
atom-text-editor[data-grammar='text md'].emacs-plus:not([mini]),
atom-text-editor[data-grammar='source gfm'].emacs-plus:not([mini])
":
  'ctrl-enter': 'markdown-preview-enhanced:run-code-chunk'
  'ctrl-alt-shift-enter': 'markdown-preview-enhanced:run-all-code-chunks'

## Julia
"
atom-text-editor[data-grammar='source julia'].emacs-plus:not([mini]),
atom-text-editor[data-grammar='source weave md'].emacs-plus:not([mini])
":
  ## Julia-Client
  # Code execution commands are not listed here. It would be automatically attached in init.js ##
  'ctrl-left': 'julia-client:return-from-goto'
  # Julia-Debug
  'ctrl-x space': 'julia-debug:toggle-breakpoint'
  'f8': 'julia-debug:continue'
  'f9': 'julia-debug:step-to-next-line'
  'f10': 'julia-debug:finish-function'
## Ink
"ink-terminal":
  'alt-w': 'ink-terminal:copy'
  'ctrl-y': 'ink-terminal:paste'
  'ctrl-shift-r': 'ink-terminal:show-search'
  'ctrl-shift-s': 'ink-terminal:show-search'
  'ctrl-@': 'julia-client:focus-last-editor'
  'ctrl-c': 'julia-client:interrupt-julia'
  'ctrl-l': 'julia-client:clear-console'
  'alt-d': 'julia-debug:open-debugger-pane'
  'alt-i': 'julia-client:open-documentation-browser'
  'alt-p': 'julia-client:open-plot-pane'
  'alt-j': 'julia-client:open-workspace'
  'alt-,': 'julia-client:settings'
  'alt-f': 'julia-client:select-working-folder'
  'alt-m': 'julia-client:set-working-module'
  'ctrl-tab': 'pane:show-next-item'
  'ctrl-shift-tab': 'pane:show-previous-item'
  'ctrl-w': 'tabs:close-tab'
  'alt-b': 'window:toggle-bottom-dock'
  'alt-l': 'window:toggle-left-dock'
  'alt-t': 'tree-view:toggle'
  'ctrl-t': 'tree-view:toggle-focus'
  'alt-:': 'termination:toggle'
  'ctrl-:': 'termination:focus'
  'alt-h': 'github:toggle-git-tab'
"ink-terminal .search .searchinput atom-text-editor":
  'ctrl-r': 'ink-terminal:find-previous'
  'ctrl-s': 'ink-terminal:find-next'
  'ctrl-g': 'ink-terminal:close-search'
## Language-Weave
"atom-text-editor[data-grammar='source weave md'].emacs-plus:not([mini])":
  ## Markdown-Writer: cancel `markdown-writer:insert-newline` for ctrl-;
  'ctrl-;': 'editor:newline'

## Python
"atom-text-editor[data-grammar='source python'].emacs-plus:not([mini])":
  ## Atom-IDE-Debugger-Python
  'ctrl-x space': 'debugger:toggle-breakpoint'
  'ctrl-x ctrl-space': 'debugger:edit-breakpoint'
  'ctrl-x d': 'debugger:show-launch-dialog'
  'ctrl-x ctrl-d': 'debugger:show-launch-dialog'
  'f8': 'debugger:continue-debugging'
  'f9': 'debugger:step-into'
  'f10': 'debugger:step-over'
  'ctrl-f10': 'debugger:step-out'
  ## IDE-Python
  # Code format
  'ctrl-c ctrl-f': 'code-format:format-code'

## TypeScript
"
atom-text-editor[data-grammar='source ts'].emacs-plus:not([mini]),
atom-text-editor[data-grammar='source tsx'].emacs-plus:not([mini])
":
  ## Atom-TypeScript
  'ctrl-alt-o': 'typescript:toggle-semantic-view'
  'alt-i': 'typescript:show-tooltip'
  'ctrl-alt-f': 'typescript:find-references'
  'ctrl-alt-r': 'typescript:rename-refactor'
  'ctrl-left': 'typescript:return-from-declaration'
  'ctrl-shift-left': 'typescript:show-editor-position-history'

## HTML
"atom-text-editor[data-grammar='text html basic'].emacs-plus:not([mini])":
  ## Atom-HTML-Preview: ctrl-shift-m (same as Markdown-Preview-Enhanced:toggle)
  'ctrl-shift-m': 'atom-html-preview:toggle'

## CSS
## Atom-Beautify: Switch beautifier according to selection
"atom-text-editor[data-grammar='source css less'].emacs-plus:not([mini])":
  'ctrl-c ctrl-f': 'atom-beautify:beautify-language-css'
"atom-text-editor[data-grammar='source css less'].emacs-plus.mark-mode:not([mini])":
  'ctrl-c ctrl-f': 'atom-beautify:beautify-language-less'
