[
  {
    title: "programming contest"
    paths: [
      "/Users/aviatesk/code/programming-contest/google-kick-start"
      "/Users/aviatesk/code/programming-contest/atcoder"
    ]
    icon: "icon-code"
    color: "green"
  }
  {
    title: "programming langauges"
    paths: [
      "/Users/aviatesk/code/learnyouahaskell"
      "/Users/aviatesk/code/7langs-in-7weeks"
    ]
    icon: "icon-code"
    color: "#45db42"
  }
  {
    title: "JunoLab"
    paths: [
      "/Users/aviatesk/julia/JunoLab"
      "/Users/aviatesk/julia/packages/Atom"
      "/Users/aviatesk/julia/packages/Juno"
      "/Users/aviatesk/julia/packages/CodeTools"
      "/Users/aviatesk/julia/packages/Lazy"
      "/Users/aviatesk/julia/packages/MacroTools"
      "/Users/aviatesk/julia/packages/DocSeeker"
      "/Users/aviatesk/julia/packages/FuzzyCompletions"
      "/Users/aviatesk/julia/packages/CSTParser"
      "/Users/aviatesk/julia/packages/JuliaFormatter"
      "/Users/aviatesk/julia/packages/JuliaInterpreter"
      "/Users/aviatesk/julia/packages/Weave"
      "/Users/aviatesk/julia/JunoLab/atom-julia-client"
      "/Users/aviatesk/julia/JunoLab/atom-ink"
      "/Users/aviatesk/julia/JunoLab/atom-language-julia"
      "/Users/aviatesk/julia/JunoLab/language-weave"
    ]
    icon: "julia-icon"
    color: "#2f333b"
    devMode: true
  }
  {
    title: "atom settings"
    paths: [
      "~/.atom"
    ]
    icon: "atom-icon"
    color: "#40a977"
  }
  {
    title: "grad-thesis"
    paths: [
      "/Users/aviatesk/grad-thesis/TypeProfiler.jl"
      "/Users/aviatesk/julia/julia"
      "/Users/aviatesk/julia/packages/JuliaInterpreter"
      "/Users/aviatesk/grad-thesis/grad-thesis"
    ]
    icon: "julia-icon"
    color: "#9558B2"
  }
]
