@import "ui-variables";
@import "syntax-variables";


/**
 * Override UI font
 */

atom-workspace {
  font-family: 'Segoe UI', 'Meiryo UI';
}


/**
 * Fine-tune Ariake-Dark-Syntax
 */

/* Define colors */
@selected: rgba(63, 17, 175, 0.25);
@selected-focused: rgba(63, 17, 175, 0.5);
@current: rgba(24, 17, 168, 0.25);
@current-focused: rgba(24, 17, 168, 0.5);
@cursor: rgba(255, 255, 255, 0.85);
@matched: rgb(63, 17, 175);
@pane-frame: rgba(63, 17, 175, 0.75);
@minimap-indicator: rgba(255, 255, 255, 0.75);
@hydrogen-cell: rgb(35, 38, 46);

/* Inside of editor */
atom-text-editor.editor {
  // Highlight-Selection style
  .highlights .highlight.selection .region {
    background-color: @selected;
  }
  // Highlight-Line style
  .line.cursor-line,
  .line.highlight-line {
    background: linear-gradient(@syntax-background-color 10%, @current)  !important;
    z-index: -2;
  }
  // Embedded code cell style for .jmd, .pmd & .Rmd files
  // @TODO: Find good styles for the embedded code block
  .line {
    position: relative;
    .syntax--embedded {
      &.syntax--julia::before,
      &.syntax--python::before,
      &.syntax--r::before {
        background-color: @hydrogen-cell;
        opacity: 0.75;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        display: block;
        z-index: -1;
      }
    }
  }
  // Stop cursor from blinking
  .cursor {
    border-color: @cursor  !important;
  }
  .cursors.blink-off .cursor {
    opacity: 1;
  }
  // Bracket-Matcher style
  .bracket-matcher .region {
    background: @matched;
    position: absolute;
  }
  // Turn-off scroll bar for text editors
  ::-webkit-scrollbar {
    display: none;
  }
}
atom-text-editor.editor.is-focused {
  // Highlight-Selection style
  .highlights .highlight.selection .region {
    background-color: @selected-focused;
  }
  // Highlight-Line style
  .line.cursor-line,
  .line.highlight-line {
    background: linear-gradient(@syntax-background-color 10%, @current-focused)  !important;
    z-index: -2;
  }
}
// Julia-specific tweaks
atom-text-editor.editor[data-grammar$="source julia"],
atom-text-editor.editor[data-grammar$="source weave md"],
atom-text-editor.editor[data-grammar$="source weave latex"] {
  .syntax--operator {
    color: @hue-2;
  }
  .syntax--name.syntax--function {
    color: @syntax-color-tag;
  }
  .syntax--type {
    color: @syntax-color-class;
  }
  .syntax--symbol {
    color: @hue-5-2;
  }
  .syntax--keyword.syntax--end {
    opacity: 0.5;
  }
}

/* Outside of editor */
// Pane border style
.vertical {
  // Tweak border style
  .panes .pane-column>*,
  .panes .pane-row>* {
    border-top: 1px solid @pane-frame;
    border-right: 1px solid @pane-frame;
  }
}
// Scrollbar style
.scrollbars-visible-always ::-webkit-scrollbar-thumb {
  background: @current;
}
// Tree-view style
.tree-view .selected:before {
  background: linear-gradient(@tree-view-background-color, @current)  !important;
}
.tree-view:focus .selected:before {
  background: linear-gradient(@tree-view-background-color, @current-focused)  !important;
}
// Tooltip style
.tooltip .tooltip-inner {
  background-color: @pane-frame;
}
// Cursor-History
@current-flash: rgb(24, 17, 168);
@keyframes cursor-history-flash {
  from {
    background-color: @current-flash;
  }
}
atom-text-editor.editor .line.cursor-history-flash-line {
  animation-duration: 1s;
}
// Minimap style
.minimap-selection {
  .region {
    background: @selected-focused;
  }
  .cursor-line {
    background: @minimap-indicator;
  }
}
atom-text-editor atom-text-editor-minimap {
  .minimap-visible-area::after {
    background-color: @current;
  }
  // emphasize scroll-indicator in minimap instead of scroll
  .minimap-scroll-indicator {
    background-color: @minimap-indicator;
    width: 2px;
  }
}
// Hydrogen style
.hydrogen {
  blockquote {
    font-size: @font-size;
  }
  .inline-container {
    z-index: 1;
  }
  .multiline-container {
    background-color: @hydrogen-cell;
    .toolbar .icon:hover {
      background-color: @selected-focused;
    }
  }
  .output-area .multiline-container {
    font-family: var(--editor-font-family);
    font-size: var(--editor-font-size)  !important;
  }
  &.inspector, &.datatip {
    code {
      font-size: 11px;
    }
  }
}
// Juno style
.ink.docpane,
.ink-workspace {
  .syntax--type {
    color: @syntax-color-class;
  }
  .syntax--constant.syntax--symbol {
    color: @hue-5-2;
  }
}


/* package-specific tweaks */

// find-and-replace
autocomplete-suggestion-list {
  font-size: var(--editor-font-size);
}
// atom-ide-ui
.tool-bar {
  // Diable Atom-IDE-UI's default icons
  .icon-nuclicon,
  .icon-nuclicon-console {
    display: none;
  }
}
atom-text-editor:not([data-grammar$="source python"]) {
  div[gutter-name="debugger-breakpoint"] {
    display: none;
  }
}
// dqs-shell-commands
.dqs-shell-commands-console {
  margin: -2px;
}
// termination
.termination.status-bar {
  display: none;
}

/* tree-view tweaks */
.tree-view .full-menu {
  padding-left: 4px;
}
.list-tree .list-nested-item>.list-group>li,
.list-tree .list-nested-item>.list-tree>li {
  padding-left: 16px;
}
.list-tree.has-collapsable-children .list-nested-item>.list-item::before {
  margin-right: 4px;
}
.list-group .icon::before,
.list-tree .icon::before {
  margin-right: 8px;
}
.list-tree.has-collapsable-children li.list-item {
  margin-left: 14px;
}
.list-tree.has-collapsable-children .list-nested-item>.list-group>li,
.list-tree.has-collapsable-children .list-nested-item>.list-tree>li {
  padding-left: 24px;
}
.list-group li.list-nested-item>.list-item,
.list-group li:not(.list-nested-item),
.list-tree li.list-nested-item>.list-item,
.list-tree li:not(.list-nested-item) {
  line-height: 1.5rem;
}
.list-group .selected::before,
.list-tree .selected::before {
  height: 1.5rem;
}

/* File-Icon tweaks */
// Directories
@import "packages/file-icons/styles/colours";
.icon[data-name="data"]:before {
  font-family: "Octicons Regular";
  content: "\f043";
}
.icon[data-name="assets"]:before,
.icon[data-name="figs"]:before,
.icon[data-name="figures"]:before {
  font-family: "Octicons Regular";
  content: "\f012";
}
.icon[data-name="src"]:before,
.icon[data-name^="script"]:before,
.icon[data-name="code"]:before {
  font-family: "Octicons Regular";
  content: "\f05f";
}
.icon[data-name="notes"]:before {
  font-family: "Octicons Regular";
  content: "\f007";
}
.icon[data-name$="packages"]:before,
.icon[data-name$="modules"]:before {
  font-family: "Octicons Regular";
  content: "\f0c4";
}
.icon[data-name="node_modules"]:before {
  font-family: Devicons;
  content: "\e618";
}
.icon[data-name*="bak"]:before,
.icon[data-name*="backup"]:before,
.icon[data-name="recovery"]:before {
  font-family: FontAwesome;
  content: "\f1da";
}
.icon[data-name$=".up"]:before,
.icon[data-name*="update"]:before {
  font-family: "Octicons Regular";
  content: "\f0b2"
}
// Github-Flavor-Markdowns
.icon[data-name="_draft.md"]:before,
.icon[data-name="CHANGELOG.md"]:before,
.icon[data-name="CODE_OF_CONDUCT.md"]:before,
.icon[data-name="CONTRIBUTING.md"]:before,
.icon[data-name="LICENSE.md"]:before,
.icon[data-name="README.md"]:before {
  font-family: "Octicons Regular";
  content: "\f00a";
}
// Weave.jl
.icon[data-name$=".jmd"]:before {
  font-family: "Octicons Regular";
  content: "\f0c9";
  color: @purple;
  font-size: 16px;
}
// pweave document
.icon[data-name$=".pmd"]:before {
  color: @dark-blue;
}
// RMarkdown
.icon[data-name$=".Rmd"]:before {
  color: @blue;
}
/* Cson */
.icon[data-name$=".cson"]:before {
  font-family: file-icons;
  content: "\eabe";
}
