@import 'ui-variables';
@import 'syntax-variables';
@import 'mpe-styles/fancy-one-dark';

/** UI */
atom-workspace, .github-Git {
  font-family: 'Segoe UI', 'Meiryo UI';
  font-size: 13px;
}
atom-dock .atom-dock-toggle-button {
  display: none;
}

/** colors */
// fine-tune ariake-dark-syntax
@selected-focused: rgba(63, 17, 175, 0.5);
@current-focused: rgba(24, 17, 168, 0.5);
@cursor: rgba(255, 255, 255, 0.85);
@minimap-indicator: fade(@cursor, 75%);

// // fine-tune one-light syntax
// @selected-focused: rgba(137, 151, 224, 0.5);
// @current-focused: rgba(105, 220, 222, 0.5);
// @cursor: rgba(13, 223, 62, 0.85);
// @minimap-indicator: fade(@cursor, 100%);

// common
@selected: fade(@selected-focused, 25%);
@current: fade(@current-focused, 25%);
@current-flash: fade(@current-focused, 100%);
@matched: fade(@current-focused, 100%);
@pane-frame: fade(@selected-focused, 75%);
@hydrogen-cell: darken(@syntax-background-color, 3%);
@hydrogen-cell-fade: fade(darken(@syntax-background-color, 75%), 15%);

/* in editor */
atom-text-editor.editor {
  // highlight-selection style
  .highlights .highlight.selection .region {
    background-color: @selected;
  }
  // highlight-line style
  .line.cursor-line,
  .line.highlight-line {
    background: linear-gradient(@syntax-background-color 10%, @current);
  }
  // embedded code cell
  .line {
    &.markdown-cell-highlight {
      background: @hydrogen-cell-fade;
      &.cursor-line, &.highlight-line {
        background: linear-gradient(@hydrogen-cell-fade, @current);
      }
    }
  }
  .line-number {
    &.markdown-cell-highlight {
      background-color: @hydrogen-cell-fade;
    }
  }
  // stop cursor from blinking
  .cursor {
    border-color: @cursor  !important;
  }
  .cursors.blink-off .cursor {
    opacity: 1;
  }
  // bracket-matcher style
  .bracket-matcher .region {
    background: @matched;
    position: absolute;
  }
  // turn-off scroll bar for text editors
  ::-webkit-scrollbar {
    display: none;
  }
}
atom-text-editor.editor.is-focused {
  // highlight-selection style
  .highlights .highlight.selection .region {
    background-color: @selected-focused;
  }
  // highlight-hine style
  .line.cursor-line,
  .line.highlight-line {
    background: linear-gradient(@syntax-background-color 10%, @current-focused);
  }
  // embedded code cell
  .line {
    &.markdown-cell-highlight {
      &.cursor-line, &.highlight-line {
        background: linear-gradient(@hydrogen-cell-fade, @current-focused);
      }
    }
  }
}

/* syntax highlights */
// julia
.syntax--source.syntax--julia,
.ink.docpane,
.ink-workspace,
.ink.result.julia {
  .syntax--operator {
    color: @hue-2;
  }
  .syntax--symbol {
    color: @hue-5-2;
  }
  // HACK: make up atom-language-julia's unability to capture assignment form function declaration
  .syntax--name.syntax--function {
    color: @syntax-color-tag;
  }
  .syntax--type {
    color: @syntax-color-class;
  }
  .syntax--function.syntax--macro {
    color: @syntax-color-snippet;
  }
  .syntax--string.syntax--docstring {
    font-style: italic;
  }
  // escaped characters in strings
  .syntax--constant.syntax--escape {
    color: @syntax-color-constant;
  }
  .syntax--keyword {
    font-style: italic;
    &.syntax--operator {
      font-style: normal;
    }
  }
}

// link
.syntax--markup {
  &.syntax--link {
    &.syntax--underline {
      font-style: italic;
    }
  }
}
// css
.syntax--css {
  .syntax--entity {
    &.syntax--name.syntax--tag {
      color: @mono-1;
      &.syntax--custom {
        color: @hue-5-2;
      }
    }
    &.syntax--attribute-name {
      color: @syntax-color-class;
    }
  }
  .syntax--support.syntax--constant.syntax--property-value {
    color: @syntax-color-constant;
  }
}

// markdown
.syntax--gfm, .syntax--text.syntax--md, .syntax--weave.syntax--md {
  .syntax--quote {
    color: @syntax-color-tag;
    font-style: italic;
  }
  .syntax--heading-1 {
    color: @h1-color;
    .syntax--punctuation.syntax--md,
    .syntax--heading.syntax--marker.syntax--gfm {
      color: @h1-color;
    }
  }
  .syntax--heading-2 {
    color: @h2-color;
    .syntax--punctuation.syntax--md,
    .syntax--heading.syntax--marker.syntax--gfm {
      color: @h2-color;
    }
  }
  .syntax--heading-3 {
    color: @h3-color;
    .syntax--punctuation.syntax--md,
    .syntax--heading.syntax--marker.syntax--gfm {
      color: @h3-color;
    }
  }
  .syntax--heading-4 {
    color: @h4-color;
    .syntax--punctuation.syntax--md,
    .syntax--heading.syntax--marker.syntax--gfm {
      color: @h4-color;
    }
  }
  .syntax--heading-5 {
    color: @h5-color;
    .syntax--punctuation.syntax--md,
    .syntax--heading.syntax--marker.syntax--gfm {
      color: @h5-color;
    }
  }
  .syntax--heading-6 {
    color: @h6-color;
    .syntax--punctuation.syntax--md,
    .syntax--heading.syntax--marker.syntax--gfm {
      color: @h6-color;
    }
  }
  .syntax--punctuation.syntax--md {
    color: @hue-5-2;
  }
  .syntax--raw {
    border-style: solid;
    border-width: 1px;
    border-color: @text-color-subtle;
    border-radius: 3px 3px 3px 3px;
  }
  .syntax--strike {
    text-decoration: line-through;
  }
}

/* outside editor */
// pane borders
.panes {
  .pane-column>*, .pane-row>* {
    border: 0.5px solid @pane-frame;
  }
}
// scrollbar
.scrollbars-visible-always ::-webkit-scrollbar-thumb {
  background: @current;
}
// tree-view
.tree-view .selected:before {
  background: linear-gradient(@tree-view-background-color, @current)  !important;
}
.tree-view:focus .selected:before {
  background: linear-gradient(@tree-view-background-color, @current-focused)  !important;
}
// status-bar
status-bar {
  .github-StatusBarTile {
    display: none;
  }
}

/* package specific */
// cursor-history
@keyframes cursor-history-flash {
  from {
    background-color: @current-flash;
  }
}
atom-text-editor.editor .line.cursor-history-flash-line {
  animation-duration: 1s;
}
// minimap
.minimap-selection {
  .region {
    background: @selected-focused;
  }
  .cursor-line {
    background: @minimap-indicator;
  }
}
atom-text-editor atom-text-editor-minimap {
  .minimap-visible-area::after {
    background-color: @current;
  }
  // emphasize scroll-indicator in minimap instead of scroll
  .minimap-scroll-indicator {
    background-color: @minimap-indicator;
    width: 2px;
  }
}
// hydrogen
.hydrogen {
  code {
    color: @syntax-text-color  !important;
    background-color: @syntax-selection-color  !important;
  }
  pre {
    background-color: @syntax-background-color  !important;
  }
  .markdown {
    font-family: 'Segoe UI', 'Meiryo UI';
  }
  .inline-container {
    z-index: 1;
  }
  .multiline-container {
    background-color: @hydrogen-cell;
    .toolbar .icon:hover {
      background-color: @selected-focused;
    }
  }
  .output-area .multiline-container {
    font-family: var(--editor-font-family);
    font-size: var(--editor-font-size)  !important;
  }
  &.inspector, &.datatip {
    font-family: var(--editor-font-family);
    font-size: 12px;
  }
}

/** package-specific */
// find-and-replace
autocomplete-suggestion-list {
  font-size: var(--editor-font-size);
  .left-label {
    display: inline-flex  !important;
  }
}
// dqs-shell-commands
.dqs-shell-commands-console {
  margin: -2px;
}
// tree-view
.tree-view .full-menu {
  padding-left: 4px;
}
.list-tree .list-nested-item>.list-group>li,
.list-tree .list-nested-item>.list-tree>li {
  padding-left: 16px;
}
.list-tree.has-collapsable-children .list-nested-item>.list-item::before {
  margin-right: 4px;
}
.list-group .icon::before,
.list-tree .icon::before {
  margin-right: 8px;
}
.list-tree.has-collapsable-children li.list-item {
  margin-left: 14px;
}
.list-tree.has-collapsable-children .list-nested-item>.list-group>li,
.list-tree.has-collapsable-children .list-nested-item>.list-tree>li {
  padding-left: 24px;
}
.list-group li.list-nested-item>.list-item,
.list-group li:not(.list-nested-item),
.list-tree li.list-nested-item>.list-item,
.list-tree li:not(.list-nested-item) {
  line-height: 1.5rem;
}
.list-group .selected::before,
.list-tree .selected::before {
  height: 1.5rem;
}

/** file-icons */
@import "packages/file-icons/styles/colours";
.icon[data-name="data"]:before {
  font-family: "Octicons Regular";
  content: "\f043";
}
.icon[data-name="assets"]:before,
.icon[data-name="figs"]:before,
.icon[data-name="figures"]:before {
  font-family: "Octicons Regular";
  content: "\f012";
}
.icon[data-name="src"]:before,
.icon[data-name="code"]:before,
.icon[data-name="lib"]:before,
.icon[data-name^="script"]:before {
  font-family: "Octicons Regular";
  content: "\f05f";
}
.icon[data-name="spec"]:before,
.icon[data-name^="test"]:before {
  font-family: file-icons;
  content: "\ea63";
}
.icon[data-name="doc"]:before,
.icon[data-name="docs"]:before,
.icon[data-name="note"]:before,
.icon[data-name="notes"]:before {
  font-family: "Octicons Regular";
  content: "\f007";
}
.icon[data-name$="packages"]:before,
.icon[data-name$="modules"]:before {
  font-family: "Octicons Regular";
  content: "\f0c4";
}
.icon[data-name="node_modules"]:before {
  font-family: Devicons;
  content: "\e618";
}
.icon[data-name*="bak"]:before,
.icon[data-name*="backup"]:before,
.icon[data-name="recovery"]:before {
  font-family: FontAwesome;
  content: "\f1da";
}
.icon[data-name$=".up"]:before,
.icon[data-name*="update"]:before {
  font-family: "Octicons Regular";
  content: "\f0b2"
}
.icon[data-name="bin"]:before,
.icon[data-name="exe"]:before {
  font-family: file-icons;
  content: "\f0c8";
  top: 2px;
  font-size: 14px;
}
// text
.icon[data-name$=".in"]:before {
  font-family: "Octicons Regular";
  content: "\f011";
}
// gfm
.icon[data-name="_draft.md"]:before,
.icon[data-name="CHANGELOG.md"]:before,
.icon[data-name="CODE_OF_CONDUCT.md"]:before,
.icon[data-name="CONTRIBUTING.md"]:before,
.icon[data-name="LICENSE.md"]:before,
.icon[data-name="README.md"]:before {
  font-family: "Octicons Regular";
  content: "\f00a";
}
// weave
.icon[data-name$=".jmd"]:before {
  font-family: "Octicons Regular";
  content: "\f0c9";
  color: @purple;
  font-size: 16px;
}
// pweave
.icon[data-name$=".pmd"]:before {
  color: @dark-blue;
}
// RMarkdown
.icon[data-name$=".Rmd"]:before {
  color: @blue;
}
// cson
.icon[data-name$=".cson"]:before {
  font-family: file-icons;
  content: "\eabe";
}
