###
Config settings specially tuned for Julia project
All values for the other Per-project configs are set as default
###


"*":

  ### Julia-specific configs ###
  "julia-client":
    consoleOptions:
      rendererType: true
    juliaOptions:
      arguments: [
        "JUNO_OHMYREPL"
        # # Comment-in the line below to set-up Plots.jl for Juno
        # "JUNO_PLOTS"
        # # Comment-in the line below to import Weave.jl on Juno startup
        # "WEAVE"
      ]
      optimisationLevel: 2
      persistWorkingDir: false
      # startupArguments: [
      #   "--project=PATH_TO_PROJECT_DIRECTORY"
      # ]
      workingDir: ""

  core:
    disabledPackages: [
      # # Comment-IN the line below to disable Spell-Checker (Note it will work only with American-English)
      # "spell-check"
      # Comment-OUT the line below to enable atom-ide-debugger-python
      "atom-ide-debugger-python"
      # # Enable Julia packages ! #
      # "julia-client"
      # "tool-bar"
      "git-diff"
      "markdown-preview"
    ]

  ### General Per-project configs ###
  Zen:
    width: 80 # Set Zen width
  "atom-ide-ui":
    use:
      "atom-ide-console": "never" # Should be removed to enable atom-ide-debugger-python
      "atom-ide-debugger": "never" # Should be removed to enable atom-ide-debugger-python
      "atom-ide-refactor": "never"
      "atom-ide-terminal": "never"
  "autocomplete-paths":
    maxFileCount: 2000
  "document-outline":
    maxHeadingDepth: 4 # Limit outlined depth
  "ide-python":
    # Another python with Python-Language-Server installed can be specified.
    # E.g.: "C:\\Users\\aviat\\Anaconda3\\envs\\py36\\python.exe"
    python: "C:\\Users\\aviat\\Anaconda3\\python.exe"
  "markdown-preview-enhanced":
    automaticallyShowPreviewOfMarkdownBeingEdited: true # Set `false` when editting Weave documents
    codeBlockTheme: "github.css" # Set `"one-dark.css"` if preferred
    previewTheme: "github-light.css" # Set `"one-dark.css"` if preferred
    scrollSync: true # Set `false` when editting Weave documents
  "spell-check":
    knownWords: [
      "aviatesk"
      "aviat"
      "kbd"
      "th"
      "s"
      # # Additional known (ignored) words would come here
    ]
  termination:
    core:
      shell: "C:\\Program Files\\Git\\bin\\bash.exe"
      workingDirectory: "Project" # Setn `"Active File"` in order to start every shell session from active file's directory
    customTexts:
      customText1: "apm list --installed --dev false --bare > ~/.atom/my-packages.txt"
      customText2: "bash ~/.atom/scripts/process-md.sh $F"
      customText3: "C:\\Users\\aviat\\.atom\\scripts\\process-md.bat $F"
    style:
      fontFamily: "Myrica M"
      fontSize: "14"
      theme: "one-dark"
    toggles:
      cursorBlink: false
      runInsertedText: false
  "tree-view-autoresize":
    minimumWidth: 0 # Set `300` for MPE previewing in Tree-View pane

### Config for specific file types ###
".julia.source":
  editor:
    preferredLineLength: 80
  "wrap-guide":
    enabled: true
".md.source.weave":
  editor:
    softWrap: true
  whitespace:
    ensureSingleTrailingNewline: false
    removeTrailingWhitespace: false
".md.text":
  editor:
    showLineNumbers: true # Set `false` not to show line numbers with markdown files
".python.source":
  whitespace:
    removeTrailingWhitespace: true # Set `false` for writing markdown cells with Hydrogen
