###
General Per-project configs.
All values are set as default.
###


### Config for all file types ###
"*":
  Zen:
    width: 80 # Set Zen width
  "autocomplete-paths":
    maxFileCount: 2000
  "document-outline":
    maxHeadingDepth: 4 # Limit outlined depth
  core:
    disabledPackages: [
      "markdown-preview"
      "spell-check" # Comment-out this line to enable Spell-Checker (Note it will work correctly only with American-English)
      "julia-client"
      "latex-completions"
      "tool-bar"
    ]
    excludeVcsIgnoredPaths: true # Set `false` in order to include Git ignored files in Autocomplete-Paths & Fazzy-Finder
    ignoredNames: [
      "._*"
      ".hg"
      ".svn"
      "Thumbs.db"
      ".DS_Store"
      "desktop.ini"
      "node_modules"
      # Autocomplete-Paths: Additional ignored names come below
      # ".git"
    ]
  "ide-python":
    # Another python with Python-Language-Server installed can be specified.
    # E.g.: "/Users/aviat/anaconda3/envs/py36/python3"
    python: "/Users/aviat/anaconda3/bin/python3"
  "markdown-preview-enhanced":
    codeBlockTheme: "github.css" # Set `"one-dark.css"` if preferred
    previewTheme: "github-light.css" # Set `"one-dark.css"` if preferred
  # Markdown-Writer: Change the directory where copy & pasted images would be saved
  "markdown-writer":
    siteImagesDir: "./assets/" # Set `"./assets/{slug}"` in order to include its file name into saving directories
  "spell-check":
    knownWords: [
      "aviatesk"
      "aviat"
      "th"
      "s"
      # Additional known (ignored) words come here
    ]
  # Tree-View-Autoresize: For MPE preview in the Tree-View pane
  "tree-view-autoresize":
    minimumWidth: 0 # Set `300` for MPE previewing in Tree-View pane

### Config for specific file types ###
".md.text":
  editor:
    showLineNumbers: true # Set `false` not to show line numbers with markdown files
".python.source":
  whitespace:
    removeTrailingWhitespace: true # Set `false` for writing markdown cells with Hydrogen
