/**
 * Fancily colors github-light theme in markdown-preview-enhanced package
 */

@h1-color: #101e8e;
@h2-color: #1416d2;
@h3-color: #7d28d7;
@h4-color: #a51ec2;
@h5-color: #d25d10;
@h6-color: #268e10;

.markdown-preview.markdown-preview {

  /** header */
  h1 {
    color: @h1-color;
    border-bottom: 4px solid @h1-color;
  }
  h2 {
    color: @h2-color;
    border-bottom: 2px solid @h2-color;
  }
  h3 {
    color: @h3-color;
    text-decoration: underline;
  }
  h4 {
    color: @h4-color;
  }
  h5 {
    color: @h5-color;
  }
  h6 {
    color: @h6-color;
  }

  /** table */
  th {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
  }
  td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
  }
  tr {
    background-color: #fff;
  }
  tr:nth-child(2n) {
    background-color: #f6f8fa;
  }
}
