/**
 * Default (user) styling for markdown-preview-enhanced package
 *
 * NOTE: this file should be in the directory where `Markdown Preview Enhanced: Customize Css` command leads to
 */

.markdown-preview.markdown-preview {
  /** font */
  @font-face {
    font-family: "Helvetica Neue";
    src: local("Helvetica Neue Regular");
    font-weight: 100;
  }
  @font-face {
    font-family: "Helvetica Neue";
    src: local("Helvetica Neue Regular");
    font-weight: 200;
  }
  @font-face {
    font-family: "Yu Gothic";
    src: local("Yu Gothic Medium");
    font-weight: 100;
  }
  @font-face {
    font-family: "Yu Gothic";
    src: local("Yu Gothic Medium");
    font-weight: 200;
  }
  @font-face {
    font-family: "Yu Gothic";
    src: local("Yu Gothic Medium");
    font-weight: 300;
  }
  @font-face {
    font-family: "Yu Gothic";
    src: local("Yu Gothic Medium");
    font-weight: 400;
  }
  @font-face {
    font-family: "Yu Gothic";
    src: local("Yu Gothic Bold");
    font-weight: bold;
  }
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), url(http://fonts.gstatic.com/s/raleway/v9/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    src: local('Raleway Light'),
      local('Raleway-Light'), url(http://fonts.gstatic.com/s/raleway/v9/-_Ctzj9b56b8RgXW8FArifk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(http://fonts.gstatic.com/s/raleway/v9/xkvoNo9fC8O2RDydKj12b_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  }

  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Yu Gothic", YuGothic, sans-serif;

  pre, code {
    font-size: 0.9em; // can look weird otherwise
  }

  /** header */
  h1, h2, h3, h4, h5, h6 {
    font-family: Raleway, "Yu Gothic", YuGothic, sans-serif;
  }
  h1 {
    border-bottom: 4px solid;
  }
  h2 {
    border-bottom: 2px solid;
  }

  /** presentation */
  .slides {
    p, li, h1, h2, h3, h4, h5, h6 {
      text-transform: none;
      text-align: left;
    }
    ol, dl, ul {
      display: block;
      text-align: left;
    }
  }
  .slides>section:nth-child(1) {
    h1, h2 {
      text-align: center;
    }
    p {
      text-align: right;
    }
  }
}

/** sidebar TOC */
.md-sidebar-toc {
  font-family: Raleway, 'Yu Gothic', YuGothic, sans-serif;
}
#sidebar-toc-btn {
  bottom: unset;
  top: 8px;
}
